KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/tty_ext.o \
$(ARCHDIR)/dt.o \
$(ARCHDIR)/dt.as.o \
$(ARCHDIR)/dtconf.o \
$(ARCHDIR)/cpuid.o \
$(ARCHDIR)/cpuid.as.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pic.as.o \
$(ARCHDIR)/port.as.o \
$(ARCHDIR)/ps2_ctrl.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/interrupt.as.o \
$(ARCHDIR)/dump.o\
$(ARCHDIR)/ps2_kbd_kmp.o \
$(ARCHDIR)/dump.as.o \
$(ARCHDIR)/sysenter.as.o \
$(ARCHDIR)/shell.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/time.o \
$(ARCHDIR)/filesystem.o
