KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/tty_ext.o \
$(ARCHDIR)/dt.o \
$(ARCHDIR)/dt_as.o \
$(ARCHDIR)/dtconf.o \
$(ARCHDIR)/cpuid.o \
$(ARCHDIR)/cpuid_as.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pic_as.o \
$(ARCHDIR)/port.o \
$(ARCHDIR)/port_as.o \
$(ARCHDIR)/ps2_ctrl.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/interrupt_as.o \
$(ARCHDIR)/dump.o\
$(ARCHDIR)/dump_as.o \
$(ARCHDIR)/syscall_as.o \
$(ARCHDIR)/ps2_kbd_kmp.o

